body {
    background-color: #fff;
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

a, a:hover {
    color: #00BCFA; 
}

h1 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}
h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

#header {
    background-color: #00BCFA;
    img {
        width: 800px; // works as max-width
    }
} 

#download {
    background-color: #2C2C2C;
    img {
        width: 150px;
    }
}

#descritpion {
    background-color: #fff;
}

#about {
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 1.2rem;
    img {
        width: 80px;
        height: 80px
    }
}

footer {
    color: #888;
    font-size: 0.8rem;
}


// ************************************************************************

/* Redefine Bootstraps rounded for more pixels */
// .rounded {
//     border-radius: 10px !important;
// }

// .bg-black {
//     background-color: black;
//     /* background-color: #333; */
// }

// .overflow-hidden {
//     overflow: hidden;
// }

// /* Up to MD */
// @media (max-width: 768px) {

//     #logo, #social-links {
//         align-content: space-around;
//     }
//     #social-links img {
//         margin-top: 0.5rem;
//         height: 50px;
//     }

// }
